<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="hr">
<head>
  <meta charset="UTF-8">
  <title>Uređivanje kategorije</title>
</head>
<body layout:fragment="content">
<div class="container">
  <div class="row">
    <div class="col">
      <h4>Uređivanje igre</h4>
      <form th:object="${course}" th:action="@{/course/edit/{id}(id=${course.getId()})}" method="POST">

        <label class="col-form-label">Unesite naziv igre:</label>
        <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
        <label class="col-form-label">Unesite opis igre:</label>
        <input class="form-control" th:classappend="${#fields.hasErrors('opis') ? 'is-invalid' : ''}" type="text" th:field="*{opis}">
        <div th:if="${#fields.hasErrors('opis')}" th:errors="*{opis}" class="invalid-feedback"></div>
        <label class="col-form-label">Unesite cijenu igre:</label>
        <input class="form-control" th:classappend="${#fields.hasErrors('cijena') ? 'is-invalid' : ''}" type="text" th:field="*{cijena}">
        <div th:if="${#fields.hasErrors('cijena')}" th:errors="*{cijena}" class="invalid-feedback"></div>



        <button type="submit" class="btn btn-primary mt-5">Uredi</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>