<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}" lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>MovieApp</title>
</head>
<body layout:fragment="content">
<div th:if="${successMovie}" class=" mt-5 alert alert-success position-absolute end-0 col-7 col-md-4 col-lg-3  col-xl-2 text-center me-4 mt-5"><p th:text="${successMovie}"></p>  </div>
<div th:if="${error}" class=" mt-5 alert alert-danger position-absolute end-0 col-7 col-md-4 col-lg-3  col-xl-2 text-center me-4 mt-5"><p th:text="${error}"></p></div>
<br>
<br>
<br>
<br>
    <div class="container mt-5">
        <div class="d-flex flex-column align-items-center">
            <button data-toggle="tooltip" data-placement="top" title="Dodaj film" type="button" class="btn btn-secondary col-xl-4" data-bs-toggle="modal" data-bs-target="#addCategory">Dodaj film</button>
        </div>
        <hr class="text-light mt-5">
        <div class="row mt-5  ">
            <div class="card text-white mb-3 Kartica ms-3  " style="max-width: 18rem;" th:each="movie: ${movies}">
                <h4 class="card-title ms-3 mt-2" th:text="${movie.getName()}"></h4>
                <div class="card-header"> Kategorija: <span th:text="${movie.getCategory().getName()}" style="font-style: italic;"></span></div>
                <div class="card-body">
                    <p class="card-text"> Opis: <span th:text="${movie.getOpis()}" style="font-style: italic;"></span>
                    <hr>
                    <div class="d-flex justify-content-between">
                        <a href="#" class="card-link text-light text-decoration-none " th:text="${movie.getCijena()} + ' $'"></a>
                        <div href="#" class="card-link text-light text-decoration-none "> Korisnik: <span th:text="${movie.getUser().getFirstname()}" style="font-style: italic;"></span> </div>
                    </div>
                    <hr>
                    <a data-toggle="tooltip" data-placement="top" title="Izbrisi" class="btn btn-sm btn-danger mt-1 w-100" th:href="@{/movie/delete/{id}(id=${movie.getId()})}">Izbrisi</a>
                    <br>
                    <a data-toggle="tooltip" data-placement="top" title="Uredi" class="btn btn-sm btn-warning mt-1 w-100" th:href="@{/movie/edit/{id}(id=${movie.getId()})}">Uredi</a>
                    <br>
                    <a data-toggle="tooltip" data-placement="top" title="Za gledati kasnije" class="btn btn-sm btn-success mt-1 w-100" th:href="@{/watch/{id}(id=${movie.getId()})}">Dodaj</a>

                </div>
            </div>

        </div>
    </div>




    <div class="modal fade" id="addCategory">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-light" id="exampleModalLabel">Dodaj film, seriju ili...</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:object="${movie}" th:action="@{/movie/add}" method="POST">
                    <div class="modal-body">
                        <label class="col-form-label text-light">Unesite naziv:</label>
                        <input class="form-control inputPolje" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:field="*{name}" required>
                        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
                        <label class="col-form-label text-light">Unesite opis:</label>
                        <textarea class="form-control inputPolje" th:classappend="${#fields.hasErrors('opis') ? 'is-invalid' : ''}" type="text" th:field="*{opis}" required></textarea>
                        <div th:if="${#fields.hasErrors('opis')}" th:errors="*{opis}" class="invalid-feedback"></div>

                        <label class="col-form-label text-light">Odaberite kategoriju:</label>
                        <select class="form-select inputPolje " aria-label="Category"  th:field="*{category}" required>
                            <option class="inputPolje" th:each="cat : ${categories} " th:value="${cat.getId()}" th:text="${cat.getName()}" ></option>
                        </select>


                        <label class="col-form-label text-light">Unesite cijenu:</label>
                        <input class="form-control inputPolje" th:classappend="${#fields.hasErrors('cijena') ? 'is-invalid' : ''}" type="text" th:field="*{cijena}" required>
                        <div th:if="${#fields.hasErrors('cijena')}" th:errors="*{cijena}" class="invalid-feedback"></div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary text-light" data-bs-dismiss="modal">Zatvori</button>
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script type="text/javascript" th:if="${added}">
        $(function () {
            $('#addCategory').modal("show");
        })
    </script>


</body>
</html>


<style>

body{
  background: #202020 ;
  font-family: 'Poppins', sans-serif;
}

.navBar{
    background: #2A2A2A;

}

.Kartica{
    background: #2A2A2A;
}

.modal-content {
        background-color: #2A2A2A;
    }


.inputPolje{

background: #2A2A2A;
color:rgba(245, 245, 245, 0.6);

}

.inputPolje::placeholder{

color:rgba(245, 245, 245, 0.6);

}

.inputPolje:focus {
  background-color: #2A2A2A;
  color:#fff;

}

 @media only screen and (max-width: 576px) {
  .Kartica {
    margin:auto !important;
    margin-top:20px !important;
  }
   .navbar-toggler-icon {
            color: white !important;
   }

  .numberWatch{
    display:none;
  }

}

.stopWatch{
    color:#fff;
  }
.numberWatch{
    position:absolute;

    width: 20px;
    border-radius: 10px;
    height: 25px;
    bottom:6px;
    background:#fff;
    color:black !important;
    font-size:20px;
    transform: translate(90%,-30%);
    text-align: center;
    line-height: 25px;

  }




</style>